* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row:before, .row:after {
  content: " ";
  display: table;
  clear: both;
}

[class*='col-']{
  float: left;
  min-height: 4em;
  margin: 0.5%;
}

.col-1 {
  background: #FFFF00;
  width: calc(8.33% - 1%); /*Método para calcular el tamaño de la columna y el gutter de manera más exacta*/
}

.col-2 {
  background: #AFFF00;
  width: calc(16.66% - 1%);
}

.col-3 {
  background:#1EE2A6;
  width:calc(25% - 1%);
}

.col-4 {
  background: #01B6AD;
  width: calc(33.33% - 1%);
}

.col-6 {
  background: #9C42D0;
  width: calc(50% - 1%);
}

.col-12 {
  background: #D126A9;
  width: calc(100% - 1%);
}

@media all and (max-width:450px) {
  [class*="col-"] {
    width: 100%;
  }
}
